@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Paprika&display=swap');
html {
  font-family: 'Paprika';
  font-size: .8em;
}

main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 1fr 5fr 1fr / 1fr 3fr 1fr;
  background: lightgrey url("../media/bg.svg") no-repeat 40% 30%;
  text-align: center;
}
 
header, footer {
  grid-column-start: 2;
}

header {
  color: #D3B5D3;
  border-bottom: 1px dotted #A9D16F;
  padding-top: .4em;
  padding-bottom: .2em;
  font-size: 7em;
  font-family: 'Akronim';
}

footer {
  font-size: .5em;
}

nav {
  grid-column-start: 3;
  grid-row-start: 2;
}

nav ul {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-image: url("../media/shadow.svg");
}

nav li {
  transform: translate(70%, 0);
  transition: 0.7s;
}

nav li:hover {
  transform: translate(0, 0);
  transition: 0.7s;
}

a {
  text-decoration: none;
  color: #D3B5D3;
}

a:visited {
  color: #A9D16F
}

.content {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
